<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <th:block th:replace="base/baseHead :: #initHead"></th:block><!-- 调用模板 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/script/login.js"></script>
</head>
<body>
<form class="form-horizontal" role="form">
    <p>登录成功</p>
</form>
</body>
</html>